<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <style>
         body {
             font-family: 'Roboto';
         }
        </style>
    </head>

    <div class="table-responsive">
        <table border="1" class="table-bordered table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    {% for c in df.columns %}<th>{{ c }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for idx,row in df.iterrows() %}
                {% set priority = row['Priority'] %}
                {% if priority == 'Blocker' %}
                <tr class="table-danger">
                    {% elif priority == 'Critical' %}
                    <tr class="table-warning">
                        {% elif priority == 'High' %}
                        <tr class="table-info">
                            {% else %}
                            <tr>
                                {% endif %}
                                {% for cidx in range(df.columns | length) %}
                                <td> {{ row[cidx] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
            </tbody>
        </table>
    </div>
    
</html>
